---
import BaseLayout from "../layouts/BaseLayout.astro";
const about = await import("./about-content.md");
const { Content, frontmatter } = about;
const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col sm:block items-start">
    <img
      src="/assets/images/about.jpg"
      alt="Eric Aguayo"
      class="max-w-xs w-full h-auto rounded-xl shadow-lg float-none sm:float-left mb-4 sm:mb-0 sm:mr-6"
    />
    <div class="flex-1">
      <Content />
    </div>
  </div>
</BaseLayout>