---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I am Eric Aguayo!</h2>
  <p>Welcome to my personal site!</p>
</BaseLayout>
