---
import BaseLayout from "../layouts/BaseLayout.astro";
import LatestPosts from "../components/LatestPosts.astro";
const pageTitle = "Eric's Digital Nook";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col md:flex-row items-center md:items-start gap-6 mb-8">
    <img
      src="/assets/eric-anime-run.jpg"
      alt="Eric trail running anime image"
      class="max-w-xs w-full h-auto rounded-xl shadow-lg flex-shrink-0"
    />
    <div>
      <h2 class="text-2xl font-bold mb-4">
        Hey there — I'm Eric Aguayo!
      </h2>
      <h3>Welcome to my corner of the web!</h3>
      <p class="mb-4">
        I'm a software developer by trade and an ultra trail runner at heart.
        Whether I’m coding up a new idea or climbing mountain trails, I’m all
        about pushing limits and exploring new frontiers. Right now, I’m working
        on two projects close to my heart: one to help more people dive into the
        world of ultra running, and another to make learning to code more
        approachable and fun. This blog is where I share my journey — from tech
        experiments to trail adventures — and everything in between. If you're
        into innovation, endurance, or just curious about blending code with the
        great outdoors, you're in the right place.
      </p>
    </div>
  </div>
  <LatestPosts />
</BaseLayout>
