---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I am Eric Aguayo!</h2>
  <p>Welcome to my personal site!</p>
  <h3>Currently under construction but will be ready soon!</h3>
</BaseLayout>
