---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My name is Eric Aguayo! Welcome to my personal site!</h2>
</BaseLayout>
