---

---

<nav
  id="main-nav"
  class="absolute top-full left-0 w-full bg-white dark:bg-gray-900 shadow-md z-50 md:static md:w-auto md:!bg-transparent md:shadow-none md:block transition-all"
>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <!-- <a href="/tags/">Tags</a> -->
  </div>
</nav>
